<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>
      <% let answer = true; %>
      <% for (var key in urls) { %> <!-- using for in loop to get the keys -->
      <% if (key == shortURL){ %> <!-- shortURL is the request id parameter that was passed to us from the user -->
      <li>The URL you have given <%= shortURL %> and the proper url of that shortened form <%= urls[key] %></li>
      <% } else {%>
      <% answer= false; %>
      <% } %>
      <% } %>
      <% if (answer === false){%> <!-- I am doing it this way because if I had done this inside the if and else, the sentence would have printed out twice -->
      <p> This URL does not exist in our database </p>
      <% } %>

    </ul>
</body>
</html>